<%

    var itemName;

switch (item.toLowerCase()) {
        case 'jquery':
        case 'javascript (es6)':
            var itemName = 'js'
            break;

        case 'bootstrap':
            var itemName = 'twitter'
            break;
        
        case 'css3':
            var itemName = 'css3-alt'
            break;
            
        default:
            var itemName = item.toLowerCase();
            break;
    }
%>
<li class="tooltip" data-tooltip="<%- item -%>"><i class="fab fa-<%- itemName %>"></i></li>