<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Michael Panik :: Birmingham, AL Frontend Developer and UX Designer</title>
    <%- css('main') %>
</head>
<body>
    <h1>This website is coming soon.</h1>
</body>
</html>