<article class="hero">
    <section class="hero__text">
        <h1 class="hero__title"><sup>My name is</sup> Michael Panik.</h1>
        <p class="hero__subtitle">I use computers to make <a href=<%- url_for('/portfolio') %>>things</a>.</p>
    </section>
</article>