html {
  font-size: 15px;
}

body {
    font-size: 1rem;
    font-family: 'roboto-mono', monospace;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 2em;
}

p.intro {
    line-height: 1.75em;
    letter-spacing: .05em;
}

ul,
ol {
  margin-bottom: 2em;
}

li {
  line-height: 1.5em;
}

article.blog-post {
    ol,
    ul {
        padding-left: 3em;
    }

    ol > li {
        list-style: decimal;
        margin-bottom: 1.5em;
    }
    
    ul > li {
        list-style: square;
        margin-bottom: 1.5em;
    }
}

strong {
    font-weight: bolder;
}

small,
.small {
    font-size: .667em;
}

h1, h2, h3, h4, h5
.h1, .h2, .h3, .h4, .h5 {
    font-family: "filson-pro", sans-serif !important;
    font-weight: bold;
}

h1, .h1 {
  font-size: 2.49em;
  line-height: 1.5em;
  margin: 1em 0 .5em;
}

h2, .h2 {
  font-size: 2.07em;
  line-height: 1.5em;
  margin: 1.5em 0 .5em 0;
}

h3, .h3 {
  font-size: 1.73em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin: 1em 0;
}

h4, .h4 {
  font-size: 1.44em;
  line-height: 1.5em;
  margin: 1.5em 0 1em 0;
}

h5, .h5 {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 1.5em 0;
}

/* ---
MEDIA QUERIES
--- */
@media (min-width:992px) {
    html {
        font-size: 16px;
    }

    h1, .h1 {
        font-size: 3.05em;
        line-height: 1.5em;
    }

    h2, .h2 {
        font-size: 2.44em;
        line-height: 1.5em;
    }

    h3, .h3 {
        font-size: 1.95em;
        line-height: 1.5em;
    }

    h4, .h4 {
        font-size: 1.56em;
        line-height: 1.5em;
    }

    h5, .h5 {
        font-size: 1.25em;
        line-height: 1.5em;
    }
}

@media (min-width:1200px) {
    html {
        font-size: 18px;
    }

    h1, .h1 {
        font-size: 3.16em;
        line-height: 1.5em;
    }

    h2, .h2 {
        font-size: 2.37em;
        line-height: 1.5em;
    }

    h3, .h3 {
        font-size: 1.78em;
        line-height: 1.5em;
    }

    h4, .h4 {
        font-size: 1.33em;
        line-height: 1.5em;
    }

    h5, .h5 {
        font-size: 1em;
        line-height: 1.5em;
    }
}
